.footer{
    background-color: black;
    margin-top: 100px;
    height: 230px;
    color: white;
}

.footer-title{
    font-size: 1.5rem;
    padding-inline: 20px;
    
}

.title-footer{
    padding-top: 20px;
}

.ul-list{
    display: flex;
    justify-content: start;
    margin-top: 60px;
    gap: 50px;
    padding-inline: 40px;
    
}

.link-footer{
    color: white;
    text-decoration: none;
    
}

.p-footer{
    margin-top: 40px;
    padding-inline: 20px;
   
}