

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(91, 78, 64);
   
}




.nav-ul{
    display: flex;
    gap: 50px;
    margin-left: 50px;
}

.lista{
    list-style: none;
}

.lista-link{
    text-decoration: none;
    color: #f5f5f5;
    font-size: 20px;
   font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    
}

