

html{
    
        scroll-behavior: smooth;
    
    
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../coffee.jpg);
    background-size: cover;
    background-position: center -120px;
    height: 200px;
    background-repeat: no-repeat;
    background-color: rgb(253, 244, 222);
   
}



